<div class="p-4">
    <span class="flex justify-between">
        <span class="flex space-x-3">
            <mat-icon class="mr-2">schedule</mat-icon>
            <h3 class="!font-bold">Scheduled Deliveries</h3>
        </span>
    </span>

    <mat-divider class="!mb-3"></mat-divider>

    <div class="w-full h-[500px] overflow-y-scroll flex flex-col space-y-2 mt-3" *ngIf="schedules.length > 0">
        <span *ngFor="let schedule of schedules">
            <span class="w-full border border-grey-4 rounded p-4 flex justify-between cursor-pointer hover:bg-gray-100 hover:border-gray-400" (click)="navigateToScheduledDelivery(schedule)">
                <span class="w-4/6 flex items-center space-x-3">
                    <span class="text-sm">Date : <span class="font-medium">{{ schedule.scheduledDate }}</span></span>
                    <span class="text-sm border-l border-l-grey-4 pl-2">Time : <span class="font-medium">{{ schedule.scheduledTime }}</span></span>
                    <span class="text-sm border-l border-l-grey-4 pl-2">Fuel Type : <span class="font-medium">{{ schedule.scheduledFuelType }}</span></span>
                </span>
                <span class="w-1/6 flex justify-end items-center">
                    <span class="text-sm font-medium">Amount : {{ schedule.scheduledFuelAmount | number }} Ltrs</span>
                </span>
                <span class="w-1/6 flex justify-end items-center">
                    <span class="text-sm font-medium text-green-800 border border-green-800 rounded p-1" *ngIf="schedule.status === 'DONE'">Completed</span>
                    <span class="text-sm font-medium text-orange-600 border border-orange-600 rounded p-1" *ngIf="schedule.status === 'INPROGRESS'">Inprogress</span>
                    <span class="text-sm font-medium text-red-700 border border-red-700 rounded p-1" *ngIf="schedule.status === 'CANCELLED'">Cancelled</span>
                </span>
            </span>
        </span>
    </div>
    <span class="w-full h-[200px] flex justify-center items-center" *ngIf="schedules.length == 0">
        <span class="font-medium text-grey-4 text-base">No scheduled deliveries to view.</span>
    </span>

</div>
